<% if current_user %>
  <div class="suggest">
    <h3>Suggest a song</h3>
    <form method="POST" action="/suggest_song">
      <input type="text" name="title" placeholder="Title">
      <input type="text" name="artist" placeholder="Artist">
      <button>Submit</button>
    </form>
  </div>
<% end %>

<h3><a href="/playlist">View Winning Playlist</a></h3>

<h3>Songs</h3>
<% @songs.each do |song| %>
  <div class="song">
    <iframe src="https://embed.spotify.com/?uri=<%= song.uri %>" width="450" height="80" frameborder="0" allowtransparency="true" class="spotify-embed"></iframe>

    <div class="vote-buttons">
      <% if current_user %>
        <%= form_tag "/vote" %>
           <input type= "hidden" name= "song_title" value="<%=song.title%>">
           <input type= "hidden" name= "value" value= "1">
          <button class="upvote">△</button>
        </form>
      <% end %>
      <div class = "voter">
      <%= song.total_votes %>
    </div>
      <% if current_user %>
        <%= form_tag "/vote" %>
           <input type= "hidden" name= "song_title" value="<%=song.title%>">
           <input type= "hidden" name= "value" value= "-1">
           <button class="downvote">▽</button>
        </form>
        <a href="/about_song/<%= song.id %>">More Details</a>
      <% end %>
    </div>
  </div>
<% end %>